<!DOCTYPE html>
<html>
	<head>
		<title>uDasher</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<% include header.ejs %>
		<div class="content">
			<div id="all_listings">
				<h2>Trip: <%=trip._id%></h2>
				<div class="trip">
			    	<p> Dasher: <%=trip.dasher%><br />
		    		Origin: <%=trip.origin.results[0].formatted_address%><br />
		    		Destination: <%=trip.destination.results[0].formatted_address%><br />
		    		Cost: $<%=trip.cost%><br />
					Rate: <%=trip.rate%><br />
				</div>
				<div class="trip2"><p>Items Being Dashed:</p>
				<% for(var i=0; i<trip.items.length; i++){%>
				<% var url = "/item/" + trip.items[i]%>
				<a href = <%=url%> > item_id: <%=trip.items[i]%> </a><br />
				<%}%>
				</div>
				<div class="trip2"><p>Your Unsent Items:</p>
				<% for(var i=0; i<items.length; i++){%>
				<% var url = "/attach_item/" + trip._id + "/" + items[i]._id%>
				<a href = <%=url%> > item_id: <%=items[i]._id%> </a><br />
				<%}%>
				</div>
				<img src = <%=image%> />
			</div>
		</div>
	</body>
</html>
