<!DOCTYPE html>
<html>
  <head>
    <title><%= "uDahser" %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<a href="/"><h1>uDasher</h1></a>
  	<h2>Display All Trips</h2>
  	<% for(var i=0; i<trips.length; i++){%>
  	<p> Dasher <%=trips[i].dasher%><br />
  		Origin <%=trips[i].origin%><br />
  		Destination <%=trips[i].destination%><br />
  		Cost <%=trips[i].cost%><br />
  		Rate <%=trips[i].rate%><br />
  	<%}%>

   </body>
</html>
