<!DOCTYPE html>
<html>
  <head>
    <title>"uDahser"</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<a href="/"><h1>uDasher</h1></a>
    <h2><%=name%>'s Profile, Age: <%=age%></h2>
    <h3>Trips</h3>
    <%for (var i=0; i<trips.length; i++) {%>
    <p> Trip <%-i%>:</p>
    <p> Sender: <%=trips[i].sender%> <br />
    	Origin: <%=trips[i].origin%><br />
    	Destination: <%=trips.origin%></br>
    	Cost: <%=trips[i].cost%><br />
    </p>
    <%}%>
    <br />
    <br />
    <h3>Add a new Trip</h3>
    <form action = "submit.js" method="POST">
    <table>
    <tr>
    	<td width="100px"><label>Email:</label></td>
    	<td><input type="textbox"></input><td>
    </tr>
    <tr>
    	<td width="100px"><label>Password:</label></td>
    	<td><input type="password"></input></td>
    </tr>
     	<td width="100px"><label>Email:</label></td>
    	<td><input type="textbox"></input><td>
    </tr>
    <tr>
    	<td width="100px"><label>Password:</label></td>
    	<td><input type="password"></input></td>
    </tr>
	</table>
	</form>
   </body>
</html>
